################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Level1/bin
/Level1/obj
/.vs
/Level2/bin
/Level2/obj
/Level3/bin
/Level3/obj
/Level4/bin
/Level4/obj
/Level5/bin
/Level5/obj
